# Данные БД и volume'ы
data/
volumes/
*.sql
*.db

# Git
.git/
.gitignore

# Доки и мусор
README.md
*.md
docs/
.env.local
*.log

# Python
__pycache__/
*.pyc
.venv/
venv/

# IDE
.vscode/
.idea/
dev.docker-compose.yml