
# POSTGRESQL DATABASE

POSTGRES_USER=risk_prod_user
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=risk_predictor_db
POSTGRES_HOST=risk-db
POSTGRES_PORT=5432


# ML SERVICE

MODELS_DIR=/app/ml_service/model_versions
ML_SERVICE_HOST=0.0.0.0
ML_SERVICE_PORT=8001


# BACKEND API

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
DATABASE_URL=postgresql://risk_prod_user:PASSWORD@risk-db:5432/risk_predictor_db
ML_SERVICE_URL=http://risk-ml:8001



# FRONTEND

VITE_API_URL=/api


# ENVIRONMENT

ENVIRONMENT=production
DEBUG=true #- Set to false in production

# Model Configuration
MODEL_VERSION=v1.0